In [2]:
import pandas as pd
df=pd.read_csv("./2020-2025.csv")
df.head(10)
df.shape
df.columns

Index(['Country', '2020', '2021', '2022', '2023', '2024', '2025'], dtype='object')

In [4]:
df.loc[df["Country"]=="Afghanistan"]

       Country   2020     2021     2022     2023  2024  2025
0  Afghanistan  20136  14278.0  14501.0  17248.0   NaN   NaN

In [4]:
# Assuming your DataFrame is named 'df'
# The 'Country' column is the identifier.
# The year columns are the values to be melted.

gdp_cols = ['2020', '2021', '2022', '2023', '2024', '2025']

df_long = df.melt(
    id_vars=['Country'],
    value_vars=gdp_cols,
    var_name='Year',     # New column for the year (e.g., '2020')
    value_name='GDP'     # New column for the GDP value
)

# Remove any NaN (missing) GDP values, which won't affect the comparison
df_long.fillna(0, inplace=True)
df_long

          Country  Year       GDP
0     Afghanistan  2020   20136.0
1         Albania  2020   15271.0
2         Algeria  2020  164774.0
3         Andorra  2020    2885.0
4          Angola  2020   66521.0
...           ...   ...       ...
1171      Vietnam  2025  490970.0
1172    Palestine  2025       0.0
1173        Yemen  2025   17401.0
1174       Zambia  2025   28910.0
1175     Zimbabwe  2025   38172.0

[1176 rows x 3 columns]

In [6]:
duplicated_mask=df_long.duplicated(subset=['GDP'],keep=False)
duplicate_gdp_df = df_long[duplicated_mask].sort_values(by=['GDP'])

print("Countries with the same GDP in the same year:")
duplicate_gdp_df.groupby("GDP").count()

Countries with the same GDP in the same year:

         Country  Year
GDP
0.0           17    17
65.0           2     2
152.0          2     2
259.0          3     3
864.0          2     2
1523.0         2     2
1867.0         2     2
2309.0         2     2
5423.0         2     2
6257.0         2     2
13313.0        2     2
17491.0        2     2
38172.0        2     2

In [8]:
df.isna().sum()

Country    0
2020       0
2021       2
2022       2
2023       2
2024       4
2025       7
dtype: int64

In [19]:
df_long.loc[df_long['GDP']==0].count()

Country    17
Year       17
GDP        17
dtype: int64